@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=Inter:wght@400;600&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Nunito:wght@400;500;600;800&family=Poppins&display=swap');

:root {
  --color-yollo: #f9c74f;
  --color-purple: #9d4edd;


}

* {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;

}

.App {
  text-align: center;
  padding: 4em 0;
}
.bg-yollo{
  background-color: var(--color-yollo);
}

.bg-purple{
  background-color:var(--color-purple);
}
.labels{
  display: inline;
}